<header>
  <div class="container">
    <img src="./images/logo.webp" alt="Kelly Franceschetti" />
  </div>
  <button id="menu" aria-label="Menu button"></button>

  <nav>
    <ul class="navigation">
      <li>
        <a href="https://greicemoreira.github.io/wdd231/project/">Home</a>
      </li>
      <li>
        <a href="https://greicemoreira.github.io/wdd231/project/gallery.html"
          >Gallery</a
        >
      </li>
      <li>
        <a href="https://greicemoreira.github.io/wdd231/project/form.html"
          >Inscription</a
        >
      </li>
    </ul>
  </nav>
</header>
